*{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: Helvetica Neue;
	color: #343A40;
	
}

body{
	font-size: 1em;
	font-weight: light;
	background-color: white;
}

.pageContainer{
  margin: 1em;
  padding: 0 2em;
  background-color: #EDEDED;
  border-radius: 10px;
}

h1{
	font-size: 3.5em;
	padding-top: 1em;
  padding-bottom: .5em;
	font-weight: 300;

}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #868D96;
}

textarea:focus {
  color: black;
}

/*accordion*/
.accordion {
  background-color: #eee;
  background-color: #F7F7F7;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border-style: solid;
  border-color:  #DFDFDF;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #F7F7F7;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 1em;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*Error flag*/
.flag{
	border-radius: 25px;
	padding: 3px 10px;
	font-weight: bold;
	font-size: 0.75em;
	margin-left: .5em;
}

.hide{
	visibility: hidden;
}

#count{
  text-align: right;
}